body {
    color: #000;
    text-align: center;
}

#content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    max-width: 960px;
    margin: 0 auto;
}

#content div{
    background: #3bbced;
    padding: 30px;
}

#content div:nth-child(even){
    background-color: #777;
}

.nested {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-column:1/4; */
    grid-column: span 3; /* same effect as grid-column: 1/4 */
}

.nested p {
    padding: 20px;
    margin: 10px;
    border: 1px solid #fff
}
